<div class="container">
    <h2># 1</h2>
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 card-group justify-content-center" >
      <!-- Cards for # 1-->
      <% for(let i = 0; i < request01.length; i++){ %>
        <div class="col ">
          <a class="card p-2 drink-card" href="/recipes/name/<%= request01[i].strDrink  %> ">
            
              <img src="<%= request01[i].strDrinkThumb %>/preview" alt="<%=request01[i].strDrink %>" title="<% request01[i].strDrink  %> ">
  
          </a>
          <div class="card-body">
            <a class="drink-name" href="/recipes/name/<%=request01[i].strDrink %>"><%=request01[i].strDrink %></a>
          </div>
        </div>
      <% } %> 
    </div>
    <!-- Cards for # 2-->
    <h2># 2</h2>
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 card-group justify-content-left" >
      
      <% for(let i = 0; i < request02.length; i++){ %>
        <div class="col ">
          <a class="card p-2 drink-card" href="/recipes/name/<%= request02[i].strDrink  %> ">
            
              <img src="<%= request02[i].strDrinkThumb %>/preview" alt="<%=request02[i].strDrink %>" title="<% request02[i].strDrink  %> ">
  
          </a>
          <div class="card-body">
            <a class="drink-name" href="/recipes/name/<%=request02[i].strDrink %>"><%=request02[i].strDrink %></a>
          </div>
        </div>
      <% } %> 
    </div>
    <!-- Cards for # 3-->
    <h2># 3</h2>
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 card-group justify-content-left" >
      
      <% for(let i = 0; i < request03.length; i++){ %>
        <div class="col ">
          <a class="card p-2 drink-card" href="/recipes/name/<%= request03[i].strDrink  %> ">
            
              <img src="<%= request03[i].strDrinkThumb %>/preview" alt="<%=request03[i].strDrink %>" title="<% request03[i].strDrink  %> ">
  
          </a>
          <div class="card-body">
            <a class="drink-name" href="/recipes/name/<%=request03[i].strDrink %>"><%=request03[i].strDrink %></a>
          </div>
        </div>
      <% } %> 
    </div>
     <!-- Cards for # 4-->
     <h2># 4</h2>
     <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 card-group justify-content-left" >
       
       <% for(let i = 0; i < request04.length; i++){ %>
         <div class="col ">
           <a class="card p-2 drink-card" href="/recipes/name/<%= request04[i].strDrink  %> ">
             
               <img src="<%= request04[i].strDrinkThumb %>/preview" alt="<%=request04[i].strDrink %>" title="<% request04[i].strDrink  %> ">
   
           </a>
           <div class="card-body">
             <a class="drink-name" href="/recipes/name/<%=request04[i].strDrink %>"><%=request04[i].strDrink %></a>
           </div>
         </div>
       <% } %> 
     </div>
<!-- Cards for # 5-->
<h2># 5</h2>
<div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 card-group justify-content-left" >
  
  <% for(let i = 0; i < request05.length; i++){ %>
    <div class="col ">
      <a class="card p-2 drink-card" href="/recipes/name/<%= request05[i].strDrink  %> ">
        
          <img src="<%= request05[i].strDrinkThumb %>/preview" alt="<%=request05[i].strDrink %>" title="<% request05[i].strDrink  %> ">

      </a>
      <div class="card-body">
        <a class="drink-name" href="/recipes/name/<%=request05[i].strDrink %>"><%=request05[i].strDrink %></a>
      </div>
    </div>
  <% } %> 
</div>

<!-- Cards for # 6-->
<h2># 6</h2>
<div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 card-group justify-content-left" >
  
  <% for(let i = 0; i < request06.length; i++){ %>
    <div class="col ">
      <a class="card p-2 drink-card" href="/recipes/name/<%= request06[i].strDrink  %> ">
        
          <img src="<%= request06[i].strDrinkThumb %>/preview" alt="<%=request06[i].strDrink %>" title="<% request06[i].strDrink  %> ">

      </a>
      <div class="card-body">
        <a class="drink-name" href="/recipes/name/<%=request06[i].strDrink %>"><%=request06[i].strDrink %></a>
      </div>
    </div>
  <% } %> 
</div>
<!-- Cards for # 7-->
<h2># 7</h2>
<div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 card-group justify-content-left" >
  
  <% for(let i = 0; i < request07.length; i++){ %>
    <div class="col ">
      <a class="card p-2 drink-card" href="/recipes/name/<%= request07[i].strDrink  %> ">
        
          <img src="<%= request07[i].strDrinkThumb %>/preview" alt="<%=request07[i].strDrink %>" title="<% request07[i].strDrink  %> ">

      </a>
      <div class="card-body">
        <a class="drink-name" href="/recipes/name/<%=request07[i].strDrink %>"><%=request07[i].strDrink %></a>
      </div>
    </div>
  <% } %> 
</div>

<!-- Cards for # 9-->
<h2># 9</h2>
<div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 card-group justify-content-left" >
  
  <% for(let i = 0; i < request09.length; i++){ %>
    <div class="col ">
      <a class="card p-2 drink-card" href="/recipes/name/<%= request09[i].strDrink  %> ">
        
          <img src="<%= request09[i].strDrinkThumb %>/preview" alt="<%=request09[i].strDrink %>" title="<% request09[i].strDrink  %> ">

      </a>
      <div class="card-body">
        <a class="drink-name" href="/recipes/name/<%=request09[i].strDrink %>"><%=request09[i].strDrink %></a>
      </div>
    </div>
  <% } %> 
</div>


</div>