<div class="container mt-5">
      <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 card-group justify-content-center" >
        <!-- Cards Here -->
        <% for(let i = 0; i < allDrinks.length; i++){ %>
          <div class="col ">
            <a class="card p-2 drink-card" href="/recipes/name/<%= allDrinks[i].strDrink  %> ">
              
                <img src="<%= allDrinks[i].strDrinkThumb %>/preview" alt="<%=allDrinks[i].strDrink %>" title="<% allDrinks[i].strDrink %> ">
    
            </a>
            <div class="card-body">
              <a class="drink-name" href="/recipes/name/<%=allDrinks[i].strDrink %>"><%=allDrinks[i].strDrink %></a>
            </div>
          </div>
        <% } %> 
      </div>
    </div>